.flex-container{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-align-content:center;
    align-content:center;
}
.flex-container .flex-item {
    margin:20px
}